main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 220px;
    text-align: center;
    border-radius: 10px;
}

.Toman {
    border: 3px solid rgb(76, 156, 230);
    padding: 25px;
    height: 300px;
    width: 40%;
    background-color:rgba(76, 0, 255, 0.938);
}

.inputs input {
    background-color: rgb(221, 132, 248);
   margin: 10px 0px;
   height: 20px;
   width: 50%;
   border-radius: 5px;
}

.inputs {
    background-color: rgb(172, 9, 221);
    border-radius: 5px;
}

.resultado {
    background-color: rgb(111, 111, 241);
    border-radius: 5px;
}

.resultado input {
    background-color: rgb(105, 151, 238);
}

#resultadox1 {
    background-color: rgb(0, 166, 216);
    border: 2px solid royalblue;
    padding: 10px;
    width: 35px;
    height: 10px;
}

#resultadox2 {
    background-color: rgb(0, 166, 216);
    border: 2px solid royalblue;
    padding: 10px;
    width: 35px;
    height: 10px;
}

.btnCalcular {
    margin: 20px 10px;
    width: 100px;
    display: center;
    height: 200px;

}

body {
    background-color: rgb(177, 173, 230);
}