main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 220px;
}

.Toman {
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 25px;
    height: 300px;
    width: 40%;
    background-color:rgba(0, 217, 255, 0.308);
}

.Toman input {
    background-color: rgb(253, 44, 253);
   margin: 10px 0px;
   height: 20px;
   width: 50%;
   border-radius: 5px;
}

#resultadox1 {
    background-color: rgb(0, 166, 216);
    border: 2px solid royalblue;
    padding: 10px;
    width: 35px;
    height: 10px;
}

#resultadox2 {
    background-color: rgb(0, 166, 216);
    border: 2px solid royalblue;
    padding: 10px;
    width: 35px;
    height: 10px;
}

.btnCalcular {
    margin: 20px 10px;
    width: 100px;
    display: center;
    height: 200px;

}

#inputx1 {
    background-color: rgb(130, 130, 236);
}

#inputx2 {
    background-color: rgb(130, 130, 236);
}

body {
    background-color: lightblue;
}